body {
    background-color: black;
    color: white;
    a {
        color: white;
        text-decoration-line: underline;
        text-decoration-style: dotted;
        text-decoration-color: red;
        text-decoration-thickness: 3px;
    }
    h2{
        font-style: italic;
    }
}